eventHubIEventProcessorHost/obj/eventHubIEventProcessorHost.csproj.nuget.dgspec.json
eventHubIEventProcessorHost/obj/eventHubIEventProcessorHost.csproj.nuget.g.props
eventHubIEventProcessorHost/obj/eventHubIEventProcessorHost.csproj.nuget.g.targets
eventHubIEventProcessorHost/obj/project.assets.json
eventHubIEventProcessorHost/obj/project.nuget.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.AssemblyInfo.cs
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.AssemblyInfoInputs.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.assets.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.csproj.CopyComplete
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.csproj.CoreCompileInputs.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.csproj.FileListAbsolute.txt
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.csprojAssemblyReference.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.dll
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.exe
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.genruntimeconfig.cache
eventHubIEventProcessorHost/obj/Debug/netcoreapp3.1/eventHubIEventProcessorHost.pdb
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.deps.json
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.dll.config
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.exe
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.pdb
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.runtimeconfig.dev.json
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/eventHubIEventProcessorHost.runtimeconfig.json
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Azure.EventHubs.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Azure.EventHubs.Processor.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Azure.KeyVault.Core.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Microsoft.WindowsAzure.Storage.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
eventHubIEventProcessorHost/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
eventhubReceiverDirect/obj/eventhubReceiverDirect.csproj.nuget.dgspec.json
eventhubReceiverDirect/obj/eventhubReceiverDirect.csproj.nuget.g.props
eventhubReceiverDirect/obj/eventhubReceiverDirect.csproj.nuget.g.targets
eventhubReceiverDirect/obj/project.assets.json
eventhubReceiverDirect/obj/project.nuget.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.AssemblyInfo.cs
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.AssemblyInfoInputs.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.assets.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.csproj.CopyComplete
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.csproj.CoreCompileInputs.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.csproj.FileListAbsolute.txt
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.csprojAssemblyReference.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.dll
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.exe
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.genruntimeconfig.cache
eventhubReceiverDirect/obj/Debug/netcoreapp3.1/eventhubReceiverDirect.pdb
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.deps.json
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.dll.config
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.exe
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.pdb
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.runtimeconfig.dev.json
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/eventhubReceiverDirect.runtimeconfig.json
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.Azure.EventHubs.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
eventhubReceiverDirect/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
eventSender/bin/Debug/netstandard2.0/eventSender.deps.json
eventSender/bin/Debug/netstandard2.0/eventSender.dll
eventSender/bin/Debug/netstandard2.0/eventSender.pdb
eventSender/obj/eventSender.csproj.nuget.dgspec.json
eventSender/obj/eventSender.csproj.nuget.g.props
eventSender/obj/eventSender.csproj.nuget.g.targets
eventSender/obj/project.assets.json
eventSender/obj/project.nuget.cache
eventSender/obj/Debug/netstandard2.0/eventSender.AssemblyInfo.cs
eventSender/obj/Debug/netstandard2.0/eventSender.AssemblyInfoInputs.cache
eventSender/obj/Debug/netstandard2.0/eventSender.assets.cache
eventSender/obj/Debug/netstandard2.0/eventSender.csproj.CoreCompileInputs.cache
eventSender/obj/Debug/netstandard2.0/eventSender.csproj.FileListAbsolute.txt
eventSender/obj/Debug/netstandard2.0/eventSender.csprojAssemblyReference.cache
eventSender/obj/Debug/netstandard2.0/eventSender.dll
eventSender/obj/Debug/netstandard2.0/eventSender.pdb
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSender.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSender.pdb
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.deps.json
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.dll.config
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.exe
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.pdb
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.runtimeconfig.dev.json
eventSenderWPF/bin/Debug/netcoreapp3.1/eventSenderWPF.runtimeconfig.json
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.Azure.EventHubs.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/Prism.dll
eventSenderWPF/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
